@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  padding: 15px 5px; 
}

li:hover {
  background-color: rgba(240, 244, 255, 1);  
}

li:active {
  background-color: rgba(73, 75, 255, 0.15); 
}


li:hover {
  background-color: rgba(240, 244, 255, 1);  

}


li:active {
  background-color: rgba(73, 75, 255, 0.15); 
 
}


.button-select:hover{
  color: rgb(83, 111, 187);

}

.button-select:active{
  color: rgba(72, 75, 240, 0.15);
 
}
.slick-slide {
  opacity: 0.2; 
}

.slick-center {
  opacity: 1; 
}
.carte {
  background-color: #fff; 
  box-shadow: 0 8px 30px -7px #c9dff0; 
  margin: 0 20px; 
  padding: 0 10px; 
  border-radius: 20px; 
  border: 0; 
}


.slick-dots {
  bottom: -100px; 
}


.slick-prev::before,
.slick-next::before {
  color: #000!important; 
}

.slick-prev:hover,
.slick-next:hover {
  color: #fff; 
}


.carte {
  background-color: #fff; 
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px; 
  padding: 0 10px; 
  border-radius: 20px; 
  border: 0; 
}

.myCustomCarousel .slick-arrow {
  color: #070606 !important;
  border: none;
  outline: none;
  background: #242424 !important;
}
.option-label input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(132, 69, 235);
  border-radius: 2px;
  margin-right: 8px;
  margin-top:2px;
  cursor: pointer;
}

.option-label input[type="radio"]:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  background-color: rgb(110, 161, 238);
  border-radius: 2px;
}
